## Copyright (C) 2019 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@kicksecure.com>
## See the file COPYING for copying conditions.

Source: tirdad
Section: kernel
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@kicksecure.com>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13), dkms, dh-dkms
Homepage: https://github.com/0xsirus/tirdad
Vcs-Browser: https://github.com/Kicksecure/tirdad
Vcs-Git: https://github.com/Kicksecure/tirdad.git
Standards-Version: 4.7.2
Rules-Requires-Root: no

Package: tirdad
Architecture: linux-amd64
Depends: tirdad-dkms, ${misc:Depends}
Description: TCP ISN CPU Information Leak Protection
 TCP Initial Sequence Numbers Randomization to prevent TCP ISN based CPU
 Information Leaks.
 .
 The Linux kernel has a side-channel information leak bug.
 It is leaked in any outgoing traffic.
 This can allow side-channel attacks because sensitive information about
 a system's CPU activity is leaked.
 .
 tirdad is a kernel module to hot-patch the Linux kernel
 to generate random TCP Initial Sequence Numbers for IPv4 and IPv6 TCP
 connections.
 .
 This metapackage depends on tirdad-dkms.
 .
 References: https://www.kicksecure.com/wiki/Tirdad

Package: tirdad-dkms
Architecture: linux-amd64
Depends: linux-headers-generic, ${shlibs:Depends}, ${misc:Depends}
Description: TCP Initial Sequence Numbers Randomization - Source Code and DKMS
 tirdad is a kernel module to hot-patch the Linux kernel
 to generate random TCP Initial Sequence Numbers for IPv4 TCP connections.
 .
 This package uses DKMS to automatically build the tirdad kernel
 module.
